* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  width: 100vw;
  height: 100%;

  color: #333;
  background-color: #eee;

  position: relative;
}

a {
  color: black;
  text-decoration: inherit;
}

.page-h1 {
  font-size: 2em;
  line-height: 1em;
  text-align: center;

  margin-bottom: 80px;
}

main {
  background-color: black;
}

.page-section {
  scroll-margin-block-start: 10vh;
}

.active {
  border-bottom: solid 2px white;
}

.active-resume {
  border-bottom: solid 2px #1670ba;
}

/* HERO SECTION */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 92vh;

  position: relative;
  z-index: 1;

  background-color: white;
}

#home-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-h1 {
  text-align: center;
}

.name-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;

  width: 100vw;
  height: 240px;
}

.name-banner__list {
  list-style-type: none;

  display: flex;
  flex-direction: row;

  transform: translateX(0);
  animation: slide-left 30s linear infinite;
  animation-delay: 4s;
}

.name-banner__item {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  width: 100vw;

  font-size: 5em;
}

/* ABOUT SECTION */
#about {
  width: 100vw;
  height: 100%;

  position: relative;
  z-index: 0;

  background-color: white;
}

#about-con {
  padding-left: 8%;
  padding-right: 8%;
}

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  position: relative;
  z-index: 1;

  background-color: white;
}

#about-content__con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 540px;

  margin-bottom: 32px;

  text-align: center;
}

#timeline {
  position: relative;
}

#timeline-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

#tl-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4px;
  height: 100%;

  position: absolute;
  top: 0;

  background-color: #ddd;
}

#tl-progress-bar__indicator {
  width: 4px;
  height: 44vh;
  border-radius: 4px;

  position: fixed;
  bottom: 50vh;

  background-color: #1670ba;
}

#tl-progress-bar__fade {
  height: 100px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: linear-gradient(#ffffff, #ffffff00);
}

#tl-progress-bar__transition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 4px;
  border-radius: 4px;

  position: relative;
  z-index: 2;

  background-color: #ddd;
}

#tl-progress-bar__transition-inner {
  width: 0%;
  height: 4px;
  border-radius: 4px;

  position: relative;
  z-index: 3;

  animation: tl-transition 4s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;

  background-color: #1670ba;
}

/* RESUME SECTION */
#resume {
  position: relative;
  z-index: 1;

  padding-left: 4%;
  padding-right: 8%;

  background-color: white;
}

#resume-con {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  position: relative;

  padding-top: 12%;
  padding-bottom: 8%;
}

#resume-con__inner {
  display: flex;
  flex-direction: row;
  column-gap: 40px;

  width: 100%;
  height: 100%;

  position: relative;
}

#resume-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 240px;
  height: 100%;

  position: sticky;
  top: 20vh;

  border-radius: 6px;
}

.resume-menu-list,
.resume-list {
  list-style-type: none;
}

.resume-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 40px;
}

.resume-menu-list__item {
  padding: 4px;
}

#resume-content {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.resume-section {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding-bottom: 4%;

  border-bottom: 3px solid #ddd;

  scroll-margin-block-start: 20vh;
}

.resume-list__item {
  margin-top: 60px;
}

.resume-list__item-con {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.resume-item__icon {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50px;

  background-color: #1670ba;
}

.resume-item__icon-inner {
  max-width: 60%;
  max-height: 60%;

  filter: invert(100%);
}

.resume-item__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.resume-item__year > span {
  font-size: 0.9em;
  font-weight: 500;

  color: #555;
}

.resume-item__location > span {
  color: #1670ba;
}

.resume-item__list {
  margin-top: 20px;
}

.resume-item__list-items {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.resume-item__list-items > li {
  margin-left: 2%;
}

.hard-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2vw;
  row-gap: 2vw;
  align-items: center;
  justify-content: center;
}

.hard-skills > li {
  display: flex;
  flex-direction: row;
  align-items: center;

  transition: all 0.5s ease;

  filter: grayscale(1);
}

.hard-skills > li:hover {
  transform: scale(1.1);

  filter: grayscale(0);

  cursor: default;
}

.hard-skills__icon {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  overflow: hidden;
}

.hard-skills__icon-inner {
  max-width: 60%;
  max-height: 60%;
}

/* PORTFOLIO SECTION */
#portfolio {
  width: 100vw;
  height: 100%;

  position: relative;
  z-index: 1;

  padding-top: 8%;
  padding-bottom: 8%;

  background-color: white;
}

#portfolio-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
  row-gap: 2vw;
  align-items: center;
  justify-content: center;

  margin-left: 8%;
  margin-right: 8%;
}

/* CONTACT SECTION */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100%;

  padding-top: 40px;
  padding-bottom: 60px;

  position: relative;
  bottom: 0;
  z-index: 1;

  background-color: white;
}

#contact-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;

  margin-top: 80px;
}

/* ANIMATIONS */
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes tl-transition {
  to {
    width: 100%;
  }
}
