.timeline-item {
  display: grid;
  grid-template-columns: 1fr 160px 1fr;
  grid-template-rows: auto;
  width: 100%;
  min-height: 240px;
  margin-top: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
  position: relative;
}

.tl-left {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  text-align: right;
  position: relative;
  overflow: visible;
}
.tl-left > h2 {
  /* width: 100%; */
  position: sticky;
  top: 50%;
  margin-right: 4px;
  font-size: 6em;
  font-weight: 300;
  font-style: oblique;
  color: #1670ba;
}

.tl-center {
  display: flex;
  justify-content: center;
  position: relative;
}
.tl-circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: sticky;
  top: 50%;
  background-color: #000000;
  box-shadow: 0px 0px 0px 6px #ffffff;
}

.tl-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  padding-left: 20px;
  z-index: 2;
}
.tl-title {
  text-align: left;
}
.tl-desc {
  text-align: justify;
}

.tl-quote {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: end;
  justify-content: end;
  text-align: right;
  min-height: 100px;
  margin-top: 40px;
  padding: 8% 8%;
  position: relative;
  border-radius: 8px;
  background-color: #eee;
}
.tl-quote > img {
  width: 52px;
  position: absolute;
  top: -24px;
  left: -8px;
}
.tl-quote__text {
  font-style: italic;
}
.tl-quote__author {
  color: #1670ba;
}

@media screen and (max-width: 768px) {
  .timeline-item {
    grid-template-columns: calc(25.5% - 15px) 30px calc(75% - 15px);
    grid-template-rows: auto;
  }

  .tl-left > h2 {
    font-size: 2.4em;
  }

  .tl-quote {
    padding-top: 12%;
  }
}
