/* HOME SECTION */
#home {
  z-index: 2;
}
#home .wrap {
  justify-content: center;
  color: #eee;
  z-index: 1;
}
.home-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}
.home-bg > img {
  object-fit: cover;
  object-position: 0% 80%;
  width: 100%;
  height: 100%;
}

.name-banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
  height: 240px;
}
.name-banner__items {
  display: flex;
  transform: translateX(0);
}
.name-banner__items > li {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 5em;
  text-align: center;
  line-height: 1.1em;
}

@media screen and (max-width: 768px) {
  .home-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1670babb;
  }
  .home-bg > img {
    object-position: 20%;
    height: 100%;
  }

  .name-banner__items > li {
    font-size: 3.6em;
  }
}

/* ABOUT SECTION */
#about {
  z-index: 1;
}
#about .wrap {
  padding-top: 0;
  padding-bottom: 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  top: 0%;
  z-index: 1;
  padding-top: 8%;
  background-color: #ffffff;
}
.about-content > p {
  max-width: 540px;
  text-align: justify;
  margin-bottom: 28px;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 0;
  padding-bottom: 40px;
}
.tl-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #ddd;
}
.tl-progress-bar__indicator {
  width: 4px;
  height: 44%;
  border-radius: 4px;
  position: fixed;
  bottom: 50%;
  background-color: #1670ba;
}
.tl-progress-bar__fade {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#ffffff, #ffffff00);
}

@media screen and (max-width: 768px) {
  .tl-progress-bar {
    left: 25%;
  }
}

/* RESUME SECTION */
#resume {
  z-index: 2;
}

.resume-wrap {
  display: flex;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.resume-nav {
  width: 180px;
  height: 100%;
  position: relative;
  z-index: 1;
}
.resume-nav__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  height: max-content;
  position: sticky;
  top: 12vh;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
.resume-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  padding-bottom: 4%;
  border-bottom: 3px solid #ddd;
}

.resume-item__hard-skills {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
.resume-item__hard-skills > li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  transition: all 0.5s ease;
  filter: grayscale(1);
  position: relative;
}
.resume-item__hard-skills > li:hover {
  transform: scale(1.1);
  filter: grayscale(0);
  cursor: default;
}
.hard-skills__icon {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 60px;
  max-height: 60px;
  object-fit: contain;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .resume-wrap {
    flex-direction: column;
  }

  .resume-nav {
    width: 100%;
    height: max-content;
    padding: 8%;
    position: sticky;
    top: 10vh;
    border-radius: 6px;
    background-color: #eeeeeeee;
  }
  .resume-nav__items {
    flex-direction: row;
  }

  .resume-item__hard-skills {
    grid-template: auto / repeat(2, 1fr);
    margin-top: 8%;
  }
  .resume-item__hard-skills > li {
    flex-direction: column;
    justify-content: center;
    margin-left: -50%;
  }
}

/* PORTFOLIO SECTION */
#portfolio {
  z-index: 2;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
}
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.portfolio-grid {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .portfolio-grid {
    grid-template: auto / 1fr;
    gap: 40px;
  }
}

/* CONTACT SECTION */
#contact {
  z-index: 2;
  min-height: 100%;
}

.contact-items {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.visitors {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  height: 100%;
  margin-top: 40px;
}
#visitors-count {
  color: #1670ba;
  font-size: 1.6em;
  font-weight: 600;
}
